@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.woc-shimmer {
  animation: shimmer linear 2s infinite;
  background: #fff,
    linear-gradient(to right, #e5e5e5 8%, #f0f0f0 18%, #e5e5e5 33%);
  background-size: 1200px 100%;
}
