@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--accent-900-rgb), 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(var(--accent-900-rgb), 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(var(--accent-900-rgb), 0);
  }
}

.woc-active-stream {
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 #186b6e;
}

@keyframes highlight-pulse {
  0% {
    box-shadow: 0 0 0 0 #40a595;
  }

  70% {
    box-shadow: 0 0 0 10px rgba(8, 234, 147, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(8, 234, 129, 0);
  }
}

.woc-active-highlight-stream {
  animation: highlight-pulse 2s infinite;
  box-shadow: 0 0 0 rgba(8, 234, 147, 0.4);
}

.woc-vod-label {
  position: absolute;
  right: 1rem;
  margin-left: auto !important;
}

.woc-highlight-label {
  margin-left: auto !important;
}
