.imageGrid {
    display: grid;
    width: 80%;
    margin: auto;
    gap: 16px;
    column-gap: 16px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

@media (min-width: 640px) {
    .imageGrid {
        gap: 16px;
        column-gap: 16px;
        grid-template-columns: repeat(3, auto);
    }
}

@media (min-width: 768px) {
    .imageGrid {
        gap: 24px;
        column-gap: 24px;
        grid-template-columns: repeat(3, auto);
    }
}