.chesster-1-wrapper {
  float: right;
}

.chesster-1-wrapper,
.timeline-image-wrapper-right,
.timeline-image-wrapper-left {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.wrapper-chesster-4 {
  height: 7rem;
}

.wrapper-chesster-3 {
  height: 7.5rem;
  width: 7rem;
}

.wrapper-chesster-2 {
  height: 9rem;
}

.timeline-image-wrapper-right {
  float: right;
}

.timeline-image-wrapper-left {
  float: left;
}

.chesster-timeline-image {
  position: absolute;
  max-width: none;
  width: 8rem;
  transition: scale 200ms;
  z-index: 10;
}

.chesster-1 {
  transform: translate(8px, -80px);
  width: 8rem;
}

.chesster-4 {
  object-fit: contain;
  transform: translate(8px, -56px);
}

.chesster-3 {
  width: 9rem;
  object-fit: contain;
  transform: translate(-72px, -64px);
}

.chesster-2 {
  object-fit: contain;
  transform: translate(8px, -64px);
}

.card:hover .chesster-timeline-image {
  scale: 1.04;
}

section:hover #projectIntroduction .chesster-timeline-image {
  scale: 1.07;
}

@media (min-width: 450px) {
  .chesster-1-wrapper {
    width: 9rem;
    height: 11rem;
  }

  .wrapper-chesster-4 {
    height: 12rem;
    width: 7rem;
  }

  .wrapper-chesster-3 {
    width: 10.5rem;
    height: 11rem;
  }

  .wrapper-chesster-2 {
    width: 9rem;
    height: 13rem;
  }

  .chesster-1,
  .chesster-3,
  .chesster-4 {
    width: 12rem;
  }

  .chesster-2 {
    width: 10rem;
  }
}

//md
@media (min-width: 768px) {
  .chesster-1-wrapper {
    width: 8rem;
    height: 18rem;
  }

  .wrapper-chesster-4 {
    height: 16rem;
    width: 7rem;
  }

  .wrapper-chesster-3 {
    width: 13rem;
    height: 14rem;
  }

  .wrapper-chesster-2 {
    width: 9rem;
    height: 16rem;
  }

  .chesster-1 {
    width: 17rem;
  }

  .chesster-3 {
    height: 20rem;
    width: 17rem;
  }

  .chesster-2 {
    width: 12rem;
  }

  .chesster-4 {
    height: 19rem;
    width: 14rem;
  }
}

//lg
@media (min-width: 1024px) {
  .chesster-1-wrapper {
    width: 8rem;
    height: 22rem;
  }

  .wrapper-chesster-4 {
    width: 7rem;
    height: 14rem;
  }

  .wrapper-chesster-3 {
    width: 16rem;
    height: 16.5rem;
  }

  .wrapper-chesster-2 {
    width: 8rem;
    height: 19rem;
  }

  .chesster-1 {
    width: 20rem;
  }

  .chesster-2 {
    width: 14rem;
  }

  .chesster-3 {
    width: 20rem;
  }

  .chesster-2,
  .chesster-3 {
    height: 23rem;
  }

  .chesster-4 {
    height: 22rem;
    width: 16rem;
  }
}

@media (min-width: 1140px) {
  .chesster-1-wrapper {
    height: 20rem;
  }
}

@media (min-width: 1240px) {
  .chesster-1-wrapper {
    height: 16rem;
  }
}

.timeline {
  display: grid;
  justify-content: stretch;
}

.line {
  background-color: #7f91e6;
  width: 8px;
  border-radius: 10px;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
}

/* Outer Layer with the timeline border */
.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  padding: 48px 0;
  grid-area: 1 / 1 / 2 / 2;
}

/* Card container */
.card {
  position: relative;
  max-width: 1000px;
  margin: 0 112px;
  /* Hacky fix: Overwrite opaque color design to make the line properly show only between the cards.*/
  background-color: #f3f9fe;
}

/* Title of the card */
.title {
  font-size: 1.125rem;
  position: relative;
}

/* Timeline dot  */
.card::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 999px;
  left: -126px;
  top: 14px;
  border: 8px solid #7f91e6;
  visibility: hidden;
}

/* Year in front of the dot*/
.year {
  position: relative;
  top: 0;
  left: 0;
  color: #7f91e6;
  font-family: Pally, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 768px) {
  .card::before {
    visibility: visible;
  }

  .year {
    position: absolute;
    top: 7px;
    left: -211px;
  }
}

@media (max-width: 1023px) {
  .card {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .card {
    margin: 0 32px;
  }

  .chesster-3 {
    transform: translate(-36px, -24px);
  }

  .line {
    z-index: -100;
    position: relative;
    left: calc(50% - 4px);
  }
}

@media (max-width: 639px) {
  .card {
    margin: 0;
  }
}
