.timeline {
  display: grid;
  justify-content: stretch;
}

.line {
  background-color: #7f91e6;
  width: 8px;
  border-radius: 10px;
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
}

.card-container {
  grid-area: 1 / 1 / 2 / 2;
}

.title {
  font-size: 1.125rem;
  position: relative;
  margin-bottom: 0.75rem;
}

.card::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  background: white;
  border-radius: 999px;
  left: -46px;
  top: 48px;
  border: 8px solid #7f91e6;
  visibility: hidden;
}

.year {
  position: relative;
  top: 0;
  left: 0;
  color: #7f91e6;
  font-family: Pally, sans-serif;
  font-weight: bold;
  font-size: 32px;
}

@media (min-width: 768px) {
  .card::before {
    visibility: visible;
  }

  .year {
    position: absolute;
    top: 40px;
    left: -134px;
  }
}

@media (max-width: 767px) {
  .line {
    z-index: -100;
    position: relative;
    left: calc(50% - 4px);
  }
}
