.fullscreenPopUp {
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    top: 0px;
    left: 0px;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.75) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.largeImageWrapper {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden
}

.imageButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    transition: color 0.1s;
    width: 40px;
    height: 40px;
    float: right;
    right: 3px;
    top: 3px;
}

.imageButton img {
    width: 20px;
    filter: invert(100%) drop-shadow(2px 2px 2px rgb(0 0 0 / 0.4)) drop-shadow(-2px -2px 2px rgb(0 0 0 / 0.4)) drop-shadow(-2px 2px 2px rgb(0 0 0 / 0.4)) drop-shadow(2px -2px 2px rgb(0 0 0 / 0.4));
    transition: transform 0.1s;
}

.imageButton:hover img {
    transform: scale(1.08);
    transition: transform 0.1s;
}

.largeImage {
    object-fit: contain;
    max-width: 700px;
    max-height: 700px;
    height: auto;
}

.imageInformationWrapper {
    max-width: 700px;
    min-width: 500px;
    background-color: white;
    padding: 4px 16px 8px 16px;
}