@tailwind base;

@tailwind components;

@tailwind utilities;

.woc-html a {
  color: var(--accent-500);
  text-decoration: underline;
  text-underline-offset: 2px;
}

*:focus-visible {
  outline-offset: 2px;
}

.crisp-rendering {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.custom-text-shadow-dark {
  text-shadow: 3px 3px #150477;
}
